@import url("https://fonts.googleapis.com/css2?family=Notable&display=swap");
body {
  font-family: "Notable", sans-serif;
  margin: 0;
  padding: 0;
}

.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.burger-menu .line {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px;
}

.navbar {
  background-color: black;
  overflow: hidden;
  opacity: 0.95;
}
.nav-links {
  list-style-type: none;
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.nav-links li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.swiper-slide {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: flex;
  flex-direction: column;
  font-size: 18px;
}

.title {
  font-weight: bold;
  font-size: 50px;
  color: white;
}

.subtitle {
  letter-spacing: 3px;
  font-size: 34px;
}

.slide-007 {
  background-image: url("/Images/teaser_1_web21.jpeg.avif");
  background-size: cover;
}

.slide-VEH {
  background-image: url("/Images/Aston_Martin_DB5.jpeg");
  background-size: cover;
}

.slide-PROMO {
  background-image: url("/Images/james-bond-no-time-to-die.jpeg");
  background-size: cover;
}

.image-container {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 10%;
}

#image {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 0;
  position: relative;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  margin-bottom: O;
}
.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20;
  max-width: 80%;
  text-align: center;
  color: rgba(191, 149, 75, 255);
}

.text-overlay h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.text-overlay p {
  font-size: 1.2em;
  margin: 0;
}

.tabs-container {
  margin-top: 20px;
}

.tabs {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  border-radius: 5px;
  overflow: hidden;
}

.tab {
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.tab:hover {
  background-color: #ddd;
}

.tab-active {
  background-color: rgba(191, 149, 75, 255);
  color: white;
}

.content {
  display: none;
  padding: 20px;
  border: 1px solid #ddd;
  border-top: none;
}

.content.active {
  display: block;
}

h1 {
  text-align: center;
  font-size: 40px;
}
h2 {
  text-align: center;
  font-size: 25px;
  color: rgba(191, 149, 75, 255);
}
.affiche-container {
  display: grid;
  gap: 30px;
  margin-top: 20px;
  padding: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.affiche {
  text-align: center;
}
.affiche img {
  max-width: 100%;
  border-radius: 10px 10px 10px 10px;
  height: 358px;
}
.affiche h2 {
  margin-top: 10px;
  font-size: 15px;
  color: black;
}
.personnages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.avatar {
  padding: 30px;
}

.avatar-name {
  text-align: center;
}

.avatar1,
.avatar2,
.avatar3,
.avatar4,
.avatar5,
.avatar6,
.avatar7,
.avatar8,
.avatar9,
.avatar10,
.avatar11,
.avatar12,
.avatar13,
.avatar14,
.avatar15,
.avatar16,
.avatar17,
.avatar18,
.avatar19,
.avatar20,
.avatar21,
.avatar22,
.avatar23,
.avatar24,
.avatar25,
.avatar26,
.avatar27,
.avatar28,
.avatar29,
.avatar30,
.avatar31,
.avatar32,
.avatar33,
.avatar34,
.avatar35,
.avatar36,
.avatar37,
.avatar38,
.avatar39,
.avatar40,
.avatar41,
.avatar42,
.avatar43,
.avatar44,
.avatar45,
.avatar46,
.avatar47,
.avatar48 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: blue;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 20px;
}

.avatar1 {
  background-image: url("/Images/Sean\ Connery.jpg");
}

.avatar2 {
  background-image: url("/Images/Roger\ Moore.jpg");
}

.avatar3 {
  background-image: url("/Images/George\ Lazenby.png");
}
.avatar4 {
  background-image: url("/Images/Timothy\ dalton.jpg");
}
.avatar5 {
  background-image: url("/Images/Pierce\ Brosman.jpg");
}
.avatar6 {
  background-image: url("/Images/Daniel\ Craig.jpg");
}
.avatar7 {
  background-image: url("/Images/Ursula\ Andress.JPG");
}
.avatar8 {
  background-image: url("/Images/Halle\ berry.jpg");
}
.avatar9 {
  background-image: url("/Images/Eva\ green.jpeg");
}
.avatar10 {
  background-image: url("/Images/LeÌa\ Seydoux.JPG");
}
.avatar11 {
  background-image: url("/Images/Monica\ Bellucci.jpg");
}
.avatar12 {
  background-image: url("/Images/Jane\ Seymour.jpg");
}
.avatar13 {
  background-image: url("/Images/Carole\ Bouquet.jpg");
}
.avatar14 {
  background-image: url("/Images/Ana\ de\ Armas.jpg");
}
.avatar15 {
  background-image: url("/Images/Sophie\ Marceau.jpg");
}
.avatar16 {
  background-image: url("/Images/Kim\ Basinger.jpg");
}
.avatar17 {
  background-image: url("/Images/Berenice\ Marlohe.jpg");
}
.avatar18 {
  background-image: url("/Images/Michelle\ Yeoh.jpeg");
}
.avatar19 {
  background-image: url("/Images/Maud\ Adams.jpg");
}
.avatar20 {
  background-image: url("/Images/olga\ kurylenko.jpg");
}
.avatar21 {
  background-image: url("/Images/Grace\ Jones.jpg");
}
.avatar22 {
  background-image: url("/Images/Bernard\ Lee.png");
}
.avatar23 {
  background-image: url("/Images/Robert\ brown.jpg");
}
.avatar24 {
  background-image: url("/Images/Judi\ Dench.jpg");
}
.avatar25 {
  background-image: url("/Images/Peter\ Burton.jpg");
}
.avatar26 {
  background-image: url("/Images/Desmond\ llewelyn.jpg");
}
.avatar27 {
  background-image: url("/Images/John\ Cleese.jpg");
}
.avatar28 {
  background-image: url("/Images/Ben\ whishaw.webp");
}
.avatar29 {
  background-image: url("/Images/lois\ maxwell.jpg");
}
.avatar30 {
  background-image: url("/Images/Caroline\ Bliss.jpg");
}
.avatar31 {
  background-image: url("/Images/Samantha\ Bond.jpg");
}
.avatar32 {
  background-image: url("/Images/Naomie\ Harry.jpg");
}
.avatar33 {
  background-image: url("/Images/Jack_Lord.jpg");
}
.avatar34 {
  background-image: url("/Images/Cec\ Linder.jpg");
}
.avatar35 {
  background-image: url("/Images/Rik\ Van\ Nutter.jpg");
}
.avatar36 {
  background-image: url("/Images/Norman\ Burton.jpg");
}
.avatar37 {
  background-image: url("/Images/David\ Hedison.jpg");
}
.avatar38 {
  background-image: url("/Images/Bernie\ Casey.jpg");
}
.avatar39 {
  background-image: url("/Images/John\ Terry.jpg");
}
.avatar40 {
  background-image: url("/Images/Jeffrey\ wright.jpg");
}
.avatar41 {
  background-image: url("/Images/Anthony\ Dawson.png");
}
.avatar42 {
  background-image: url("/Images/Donald\ Pleasence.jpg");
}
.avatar43 {
  background-image: url("/Images/Telly\ Savalas.jpg");
}
.avatar44 {
  background-image: url("/Images/Charles\ Gray.jpg");
}
.avatar45 {
  background-image: url("/Images/John\ hollis.jpg");
}
.avatar46 {
  background-image: url("/Images/Robert\ Rietty.jpg");
}
.avatar47 {
  background-image: url("/Images/max\ von\ sydow.jpg");
}
.avatar48 {
  background-image: url("/Images/Christoph\ waltz\ .jpg");
}
h5 {
  text-align: center;
}
h3 {
  text-align: center;
  font-size: 20px;
}
h6 {
  text-align: center;
  font-size: 20px;
  color: rgba(191, 149, 75, 255);
  padding: 10px;
}
p {
  text-align: center;
  font-size: 12px;
}
.vehicules {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.vehicules img {
  width: 596px;
  height: 358px;
  border-radius: 10px 10px 10px 10px;
}
form {
  border: 1px solid rgba(153, 153, 153, 0.6);
}

form > div {
  margin: 38px 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  height: 20px;
  width: 40%;
}

button {
  margin-left: 20px;
  margin-bottom: 30px;
  padding: 10px 32px;
  cursor: pointer;
}

.message-error {
  border: 1px solid rgb(212, 42, 0);
  color: rgb(212, 42, 0);
  background-color: rgba(212, 42, 0, 0.4);
  padding: 16px 32px;
  margin-bottom: 20px;
  display: none;
}

.message-error.visible {
  display: block;
}

.message-success {
  border: 1px solid rgb(81, 150, 2);
  color: rgb(81, 150, 2);
  background-color: rgba(113, 212, 0, 0.4);
  padding: 16px 32px;
  margin-bottom: 20px;
  display: none;
}

.success {
  border: 1px solid rgb(81, 150, 2);
  background-color: rgba(113, 212, 0, 0.4);
}

.message-success.visible {
  display: block;
}

footer {
  background-color: black;
  opacity: 0.9;
  color: rgba(191, 149, 75, 255);
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
}
body.dark {
  background-color: rgb(37, 37, 37);
  color: #ddd;
}

.dark .navbar {
  background-color: rgb(61, 61, 61);
}

.dark .nav-links li a {
  color: #ddd;
}

.dark .text-overlay h2 {
  color: #ddd;
}

.dark .text-overlay p {
  color: #ddd;
}
.dark .affiche h2 {
  color: #ddd;
}

.dark .tabs {
  background-color: black;
}

.dark .tab:hover {
  background-color: gray;
}

.dark footer {
  background-color: rgb(61, 61, 61);
  color: #ddd;
}

@media screen and (max-width: 768px) {
  .burger-menu {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 1;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .nav-links li a {
    color: white;
    text-decoration: none;
  }

  .nav-links.active {
    display: flex;
  }

  .image-container {
    display: flex;
    justify-content: center;
    height: 0.1%;
    padding: 20px;
  }
  .text-overlay {
    font-size: 0.8em;
  }
  .affiche-container {
    grid-template-columns: repeat(2, 1fr);
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    text-align: center;
    font-size: 20px;
    color: rgba(191, 149, 75, 255);
  }
  h5 {
    text-align: center;
  }
  .vehicules img {
    width: 496px;
    height: 258px;
    border-radius: 10px 10px 10px 10px;
  }

  .text-overlay h2 {
    font-size: 17px;
    margin-bottom: 0px;
  }

  .text-overlay p {
    font-size: 7px;
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  .nav-links {
    flex-direction: column;
    align-items: center;
  }

  .nav-links li a {
    padding: 5px;
  }
  .image-container {
    display: flex;
    justify-content: center;
    height: 0.1%;
    padding: 20px;
  }
  .text-overlay {
    font-size: 0.4em;
  }
  .affiche-container {
    grid-template-columns: repeat(1, 1fr);
  }
  footer {
    font-size: 0.8em;
  }
  h1 {
    font-size: 15px;
  }
  h2 {
    text-align: center;
    font-size: 12px;
    color: rgba(191, 149, 75, 255);
  }
  .vehicules img {
    width: 396px;
    height: 158px;
    border-radius: 10px 10px 10px 10px;
  }
}
