@import url("https://fonts.googleapis.com/css2?family=Notable&display=swap");
body {
  font-family: "Notable", sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: black;
  overflow: hidden;
  opacity: 0.95;
}
.nav-links {
  list-style-type: none;
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.nav-links li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.image-container {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 10%;
}

#image {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  margin-bottom: O;
}
.text-overlay {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgba(191, 149, 75, 255);
}

.text-overlay h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.text-overlay p {
  font-size: 1.2em;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 40px;
}

.affiche-container {
  display: grid;
  gap: 30px;
  margin-top: 20px;
  padding: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.affiche {
  text-align: center;
}
.affiche img {
  max-width: 100%;
  border-radius: 10px 10px 10px 10px;
  height: 358px;
}
.affiche h2 {
  margin-top: 10px;
  font-size: 15px;
  color: black;
}

#avatar {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.avatar-container {
  text-align: center;
}

.avatar,
.avatar2,
.avatar3,
.avatar4,
.avatar5,
.avatar6 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: blue;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 20px; 
}

.avatar {
  background-image: url("/Images/Sean\ Connery.jpg");
}

.avatar2 {
  background-image: url("/Images/Roger\ Moore.jpg");
}

.avatar3 {
  background-image: url("/Images/George\ Lazenby.png");
}
.avatar4 {
  background-image: url("/Images/Timothy\ dalton.jpg");
}
.avatar5 {
  background-image: url("/Images/Pierce\ Brosman.jpg");
}
.avatar6 {
  background-image: url("/Images/Daniel\ Craig.jpg");
}


footer {
  background-color: black;
  opacity: 0.9;
  color: rgba(191, 149, 75, 255);
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
}

@media screen and (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    align-items: center;
  }

  .nav-links li a {
    padding: 10px;
  }
  .image-container {
    display: flex;
    justify-content: center;
    height: 0.1%;
    padding: 20px;
  }
  .text-overlay {
    font-size: 0.8em;
  }
  .affiche-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .nav-links {
    flex-direction: column;
    align-items: center;
  }

  .nav-links li a {
    padding: 5px;
  }
  .image-container {
    display: flex;
    justify-content: center;
    height: 0.1%;
    padding: 20px;
  }
  .text-overlay {
    font-size: 0.4em;
  }
  .affiche-container {
    grid-template-columns: repeat(1, 1fr);
  }
  footer {
    font-size: 0.8em;
  }
}
